/* Container and Sidebar styles */
.container {
  display: flex;
  height: 90vh;
  width: 100vw;
}

.sidebar {
  width: 350px;
  background: #f8f8f8;
  padding: 20px;
  transition: width 0.3s ease;
  overflow: auto;
  max-height: 100vh;
}

.sidebar.closed {
  width: 50px;
  overflow: auto;
}

.toggle-btn {
  background:#818282;
  color: white;
  border: circle;
  padding: 10px;
  cursor: pointer;
}

/* Main container styles */
.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ddd;
  overflow: hidden;
  color: #333; /* Ensure text inside the main container is dark for better visibility */
}

/* Image container to hold both images */
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Background image settings */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1; 
}

/* Statue image settings */
.statue {
  position: absolute;
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  max-width: 545px; 
  opacity: 0.8; 
  z-index: 2; 
  
  /* White shadow effect */
  filter: drop-shadow(0px 20px 30px rgba(255, 255, 255, 0.7)); 
}

h5 {
  color:rgba(208, 140, 13, 0.839); /* Darker red for better visibility */
}

button {
  background-color: rgba(208, 140, 13, 0.839); /* Gold-like background */
  color: white; /* Lighter text for contrast */
  margin-right: 10px;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .main {
    height: 60vh;
  }

  /* Adjust statue size for mobile */
  .statue {
    max-width: 90%;
  }
}

/* App.css */

/* Icon Section Container */
.icon-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right:250px;
  gap: 25px;
  
}

/* Icon Styling */
.icon {
  
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
  color: #333;
  text-shadow: #333;
}

/* Hover effect for icons */
.icon:hover {
  color: #060609;
}

/* Icon Font Awesome */
.icon i {
  margin-right: 8px;
}

/* Count Text */
.icon span {
  font-size: 1rem;
  font-weight: 500;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .icon-section {
    flex-direction: column;
  }

  .icon {
    margin-bottom: 10px;
}
}